[Desktop Entry]
Name=GNU Solfege
Exec=solfege
Terminal=false
Type=Application
Icon=solfege.png
Categories=GNOME;Application;AudioVideo;Audio;Education;
